<h1>Simple Example</h1>

<div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
    <a href="cat.jpg" title="Cat" data-gallery="gallery">Cat</a>
    <a href="frog.jpg" title="Frog" data-gallery="gallery">Frog</a>
    <a href="raccoon.jpg" title="Raccoon" data-gallery="gallery">Raccoon</a>
    <a href="snail.jpg" title="Snail" data-gallery="gallery">Snail</a>
</div>

<h2>Thumbnail Example</h2>

<div class="row" id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
  <div class="col-xs-6 col-md-3">
    <a href="cat.jpg" title="Cat" data-gallery="gallery" class="thumbnail">
      <img src="cat.jpg" alt="Cat">
    </a>
  </div>

  <div class="col-xs-6 col-md-3">
    <a href="frog.jpg" title="Frog" data-gallery="gallery" class="thumbnail">
      <img src="frog.jpg" alt="Frog">
    </a>
  </div>

  <div class="col-xs-6 col-md-3">
    <a href="raccoon.jpg" title="Raccoon" data-gallery="gallery" class="thumbnail">
      <img src="raccoon.jpg" alt="Raccoon">
    </a>
  </div>
  
  <div class="col-xs-6 col-md-3">
    <a href="snail.jpg" title="Snail" data-gallery="gallery" class="thumbnail">
      <img src="snail.jpg" alt="Snail">
    </a>
  </div>  
</div>